@import 'variables' ; 

ul{
    list-style-type: none;
}

a{

    text-decoration: none;
    color: $second-colour;
    border-bottom: 1px solid $primary-colour; 
    font-weight:light;
    
    &:hover{
        color: $third-colour;
        text-decoration: underline;
        border-bottom: 1px solid $third-colour;
        transition: 0.3s ease-in-out;
    }
    ion-icon{
        font-size: 16px;
    }
}




.btn btn-primary{
    background-color: $primary-colour;
    color: $second-colour;
}
 


@media(min-width: $min-width){
    
        
}





