{%extends "login.html"%}

<!-- extrra input for reguster page  -->
{% block extraInput %} 
<div class="form-group ">
    <label for="Username">Username</label>
    <div class="input-group pb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"><ion-icon name="person-circle-outline"></ion-icon></span>
        </div>
        <input type="text" name="username"  class="form-control" placeholder="Username" id="username" aria-label="username" aria-describedby="basic-addon3">
      </div>
</div>

{% endblock %}
