{%extends "layout.html"%}

{% block Content%}

    <div id="quotes" ></div>


    <div id="searchBar" class="container pt-5">
        <div class="row justify-content-lg-center">
            <div class="col-md-10">
                <input class="form-control" placeholder="Search with author, title, IBSN" > 
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary"><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>
    </div>

    <div id="result" class="container pt-5">
        <!-- need a for loop here to display the search result -->
    </div>




{% endblock %}
